body{
    background-color: rgba(0, 0, 0, 0.829);
}

/* inicio do config da nav */
nav{
    background-color: rgba(0, 0, 0, 0.233);
    display: flex;
    height: 100px;
    box-shadow: -2px 3px 10px black;
}
.navbar-brand{
    color: white;
}
.container-fluid{
    background-color: none;
}
#conteinerform{
    background-color: blue;
    margin-right: auto;
}
ul{
    background-color: none;
}
#pesquisa{
    border-radius: 20px;
    width: 47%;
    margin-left: auto;
    border: 1px solid transparent;
}
#pesquisa:focus{
    background-color: rgb(234, 250, 248);
    color: black;
    outline: none;
    border: 1px solid black;
}
#icnoneNav{
    background-color: none;
    margin-left: auto;
    font-size: large;
}
.navbar-nav {
    justify-content: end;
}
.btn-group{
    background-color: none;
    color: white;
}
#dropdown{
    background-color: none;
}
#linklogo{
    color: white;
    text-decoration: underline;
}
#logo{
    background-color: aquamarine;
    margin-right: auto;
}
/* fim da config da nav */

/* inicio do aside */
aside{
    padding-top: 2%;
    justify-content: space-around;
    width: fit-content;
    height: fit-content;
    color: white;
    position: absolute;
}
button{
    text-emphasis-color: white;
}
#dropdown{
    color: white;
}
ul{
    background-color: none;
}
.inicio{
    margin-left: 10px;
    text-decoration: underline;
    font-size: large ;
}
#id{
    margin-top: 50px;
}
.dropdown-item{
    font-size: larger;
}
/* fim do aside */

/* inicio do cabeçalho */
#pgidiomas{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: none;
    margin-left: 13%;
    border-left: 4px solid white;
    height: 700px;
}
#cadas{
    color: white;
    justify-content: end;

}


/* Inicio do footer */
#footer{
    display: flex;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.233);;
    box-shadow: 2px -3px 7px white;
}
.card1{
    padding-left: 10px;
    background-color: none;
}
.card2{
    padding-left: 40px;
    background-color: none;
}
.descricao2{
    font-size: smaller;
    color: white;
    text-decoration: underline;
}
#img{
    margin-left: auto;
    padding-top: 1.5%;
    padding-right: 0.7%;
}
/* Inicio do footer */