body{
    background-color: rgba(0, 0, 0, 0.829);
}

nav{
    background-color: rgba(0, 0, 0, 0.233);
    display: flex;
    height: 100px;
    box-shadow: -1150px 3px 10px black;
}
.navbar-brand{
    color: white;
}
.container-fluid{
    background-color: none;
}
#conteinerform{
    background-color: none;
    margin-right: auto;
}
ul{
    background-color: none;
}
#pesquisa{
    border-radius: 20px;
    width: 37%;
    margin-left: 260px;
    border: 1px solid transparent;
}
#pesquisa:focus{
    background-color: rgb(234, 250, 248);
    color: black;
    outline: none;
    border: 1px solid black;
}
#icnoneNav{
    background-color: none;
    margin-left: auto;
    font-size: large;
}
.navbar-nav {
    justify-content: end;
}
.btn-group{
    background-color: none;
    color: white;
}
#dropdown{
    background-color: none;
}
#linklogo{
    color: white;
    text-decoration: underline;
}
#logo{
    background-color: none;
    padding-right: 0px;
}
/* fim da config da nav */

/* inicio do aside */
#sidebar{

    padding-top: 2%;
    justify-content: space-around;
    width: min-content;
    height: fit-content;
    color: white;
    position: absolute;
    display: flex;
}
#aside{
    display: flex;
}
button{
    text-emphasis-color: white;
}
#dropdown{
    color: white;
}
ul{
    background-color: none;
}
.inicio{
    margin-left: 7px;
    text-decoration: underline;
    font-size: large ;
}
#id{
    margin-top: 50px;
}
.dropdown-item{
    font-size: larger;
}
/* fim do aside */

/* inicio das config gerais */
#conteinercard{
    background-color: none;
    height: 370px;
    justify-content: center;
    border-top: 2px dashed white;
}
h5{
    padding-top: 15px;
    margin-left: 4%;
    color: white;
}
img{
    border-radius: 10px;
}
.card{
    background-color: black;
}
.descricao{
    font-size: smaller;
    color: white;
    text-decoration: none;
}
/* fim das config gerais */

/* INICIO DO CABEÇALHO */
#cabecalho{
    margin-top: 1px;
    padding-top: 5%;
    height: 280px;
    background-color: none;
    margin-left: 15%;
    box-shadow: -7px 4px 4px rgba(0, 0, 0, 0.452);
    display: flex;
    justify-content: flex-start;
    border: 2px solid white;
    border-bottom: 7px solid white;
}
#album{
    background-color: none;
    margin-left: 74px;
}
#descricaocabecalho{
    color: white;
    margin-left: 20px;
    height: 50px;
    background-color: none;
    text-shadow: 0.2px -0.5px 5px black;
}
#recomendacao{
    color: white;
    height: 80px;
    background-color: none;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}
/* FIM DO CABEÇALHO */

/* incio dos boxe de musica */
#conjdebox{
    background-color: none;
    height: 1600px;
    margin-left: 15%;
    border-left: 2px solid white;
    padding-top: 30px;
    box-shadow: -7px 4px 4px rgba(0, 0, 0, 0.452);
}
.column {
    flex-direction: column;
}
/* .row {
    width: 85%;
    flex-direction: row;
    background-color: rgb(215, 226, 235);
    border-radius: 20px;
    height: 60px;
    padding-left: 10px;
} */
.grow0{
    flex-grow: 0;
}
.grow1{
    flex-grow: 1;
}
.grow2{
    flex-grow: 2;
    text-align: left;
}

.containerrow{
    display: flex;
    margin-bottom: none;
    border-bottom: 0.2px solid black;

}
.container {
	
	margin: 0 auto;
	display: flex;
	/*border: 1px solid #ccc;*/
    
}

.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	text-align: left;
    padding-top: 10px;
}


.box{
    padding-top: 10px;
    background-color: none;
    border-radius: 20px;
    width: 85%;
    margin-top: 10px;
    background-color: rgb(215, 226, 235);
    margin-left: 3%;
}
.descricao2{
    background-color: none;
    font-size: medium;
    color: black;
    text-decoration: underline;
    padding-left: 60px;
}
.edit{
    margin-left: 5%;
}
.edicao{
    border-color: white;
    color: black;
    margin-left: 40%;
}
.edite{
    margin-left: 20px;
    color: black;
}
.indit{
    color: black;
    font-size: medium;
    margin-left: 20px;
}
/* fim dos boxe de musica */


/* inicio de dentro dos boxes de musica*/
.imgboxes{
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}
.card{
    border: 1px dashed black;
    background-color: rgba(0, 0, 0, 0.521);
}
.descricao{
    font-size: x-small;
    color: white;
    text-decoration: underline;
    font-style: oblique;
}
.descricao:hover{
    font-size: 15px;
}
/* fim de dentro dos boxes de musica*/


/* Inicio do footer */
#footer{
    display: flex;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.233);;
    box-shadow: 2px -3px 7px white;
}
.card1{
    padding-left: 10px;
    background-color: none;
}
.card2{
    padding-left: 40px;
    background-color: none;
}
.descricao1{
    font-size: smaller;
    color: white;
    text-decoration: underline;
}
#img{
    margin-left: auto;
    padding-top: 1.5%;
    padding-right: 0.7%;
}
/* Inicio do footer */